Flask==2.2.3
Werkzeug>=2.2.2,<3.0
accelerate==0.28.0
bitsandbytes==0.43.3
peft==0.12.0
bagelML==0.0.20
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118